.container {
  text-align: center;

  width: 100%;

  > h1 {
    font-size: 1.5rem;
    font-weight: 400;

    margin-bottom: 1.5rem;
  }

  button {
    font: 600 1rem Poppins;
    line-height: 1rem;

    height: 3rem;
    min-width: 8rem;

    padding: 0.5rem 1rem;

    border-radius: 4px;
    border: 0;

    cursor: pointer;

    & + button {
      margin-left: 1rem;
    }

    &.reverse {
      background-color: #f3f2fd;

      color: #6358ea;
    }

    &.increment {
      background-color: #6358ea;

      color: #ffffff;
    }

    &:disabled {
      opacity: 0.5;

      cursor: not-allowed;
    }
  }
}
